@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
.MuiTypography-root {
  font-family: "Inter", sans-serif !important;
  color: #29303c;
}

h1.MuiTypography-root,
h2.MuiTypography-root,
h3.MuiTypography-root,
h4.MuiTypography-root,
h5.MuiTypography-root,
h6.MuiTypography-root {
  font-family: "Lora", serif !important;
}

a {
  text-decoration: none;
  color: #29303c;
}

a:hover {
  text-decoration: underline;
}

img {
  object-fit: cover;
  width: 100%;
  display: block;
}

.MuiContainer-root {
  max-width: 1240px !important;
  margin: auto !important;
}

.MuiButton-root {
  box-shadow: none !important;
  text-transform: none !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
}

.MuiFormControl-root,
.MuiInputBase-root {
  background-color: white !important;
  border-radius: 10px !important;
}
